.home__feed__container {
    width: 50%;
    border-left: 1px solid #eff3f4;
    border-right: 1px solid #eff3f4;
}

.home__title {
    padding: 1rem;
    border-bottom: 1px solid #eff3f4;
}

.divider{
    height: 14px;
    background-color: #f7f9f9;
    border-top: 1px solid #eff3f4;
    border-bottom: 1px solid #eff3f4;
}

.tweets {
    height: 750px;
    overflow: hidden;
    overflow-y: scroll;
}

.tweet__content {
    display: flex;
    padding: 0.5rem 0.5rem;
    margin-bottom: 0.5rem;
}

.tweet__content:hover {
    background-color: #f7f7f7;
}

.user__avatar {
    margin-right: 0.25rem;
}

.user {
    display: flex;
    align-items: center;
    margin-bottom: 0.25rem;
}

h3 {
    margin-right: 0.4rem;
}

.likes {
    display: flex;
    align-items: center;
}

.like__icon:hover {
    cursor: pointer;
    color: red !important;
}

.likes__count {
    font-size: 20px;
    margin-left: 1rem;
}