.home__feed__container {
    width: 50%;
    border-left: 1px solid #eff3f4;
    border-right: 1px solid #eff3f4;
}

.home__title {
    padding: 1rem;
    border-bottom: 1px solid #eff3f4;
}

.divider{
    height: 14px;
    background-color: #f7f9f9;
    border-top: 1px solid #eff3f4;
    border-bottom: 1px solid #eff3f4;
}